*::-webkit-input-placeholder{
	color: #666;
	opacity: 1;
}
*:-moz-placeholder{
	color: #666;
	opacity: 1;
}

*::-moz-placeholder{
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder{
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #666;
}
body input:required:valid,
body textarea:required:valid{
	color: #666;
}

html, body{
	height: 100%;
}

body{
	font-size: 14px;
	color: $main-font-color;
	min-width: 320px;
	position: relative;
	line-height: 1.286em;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
	background: #fff; 
}

a, a:focus, a:active{
	color: $link;
	text-decoration: none;
	@include ease;
}

a:hover{
	color: $accent;
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style:none;
}
.headers{
	font-family: $default-font,$helvetica;	
	color: #5c5f62;	
}

.view-detail{
	color: #31bbeb;
	font-family: $default-font,$helvetica;
	font-style: italic;
	font-size: 0.929em; //13
}





